@charset "UTF-8";
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf"); /*fonte especifica*/
}

body {
    font-family: Arial, sans-serif;
    background-color:#dddddd;
    color: : rgba(0, 0, 0, 1);
}

div#interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto; /*margem cima, dir, bai, esq*/
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .50);
    padding: 10px; /*se todos os valores em volta forem iguais basta informar 1 vez*/
   
}
p {
    text-align: justify;
    text-indent: 50px;
}

a { /*os links terão uma cor escura e não serão sublinhados*/
    color: #606060;
    text-decoration: none;
}

a:hover { /*qaundo passar o mouse em cima vai aparecer sublinhado*/
    text-decoration: underline;
}

/* formatação de imagens com legenda classe foto-legenda
figure no index */

header#cabecalho img#icone {
    position: absolute;
    left: 780px;
    top: 70px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid; /*linnha do cabeçalho*/
    height:150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px; /*logo*/
}

header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15px;   
    padding: 0px; 
    margin-top: 0px;
}

figure.foto-legenda{
    position: relative;
    border: 8px solid white; /* borda */
    box-shadow: 1px 1px 4px black; /* ligeira sombra e borda */
}

figure.foto-legenda img {  
    width: 100%; /*tudo que for img vai ter largura e altura 100% ou seja vai ajustar ao site*/
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top:0px; 
    background-color: rgba(0, 0, 0, .4);
    color: white; /*legenda branca*/
    width: 100%; /*legenda ocupando toda a imagem*/
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /*imagem dentro da borda*/
    transition: opacity 1s; /*vai levar 1 segundo para exibir*/

    }

figure.foto-legenda:hover figcaption { /*quando passar o moude por cima alegenda é exibida*/
    opacity: 1;

}

/* formatação do menu */

nav#menu {
    display: block ;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 300px;
}

nav#menu li { /*botões do menu*/
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s; /*1 segundo p passar de um p outro*/

}

nav#menu li:hover {
    background-color: #606060; /*qdo passa o cursor em cima escurecer*/
}

nav#menu h1 {
    display: none;
}
    
nav#menu a {
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover {
    color: white; /*texto fica branco qdo passo o mouse por cima*/
    text-decoration: underline; /*texto fica sublinhado*/
}

section#corpo {
    display: block; /*conf seção, do lado esq da pag*/
    width: 500px;
    float: left;
    border-right: 1px solid #606060; /*cria a linha de divisoria */
    padding-right: 15px; /*ajusta a linha criada*/
}

article#noticia-principal h2 { /*formata tds os h2 da noticia principal*/
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 0px; /*espaçamento*/
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: 'FonteLogo', sans-serif; /*usar o fontelogo já criado ou qq uma sans-serif*/
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

.direita {  /*foi criada uma classe no index h3 para alterar apenas esses dados*/
    text-align: right;
}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;
    
}

table#tabelaspec {
    border: 1px solid #606060; /*moldura da tabela linha*/
    border-spacing: 0px; /*tira o espaço entre as linhas*/ 
    margin-left: auto; /*ajuste tabela*/
    margin-right: auto;
}

table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px; /*tamanho interno*/
    text-align: center;
    vertical-align: middle;
 }

 table#tabelaspec td.ce {
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
 }

 table#tabelaspec td.cd {
    background-color: #cecece;
}

table#tabelaspec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bold;
}

table#tabelaspec caption span {
    display: block; /*configuração Mar/2013 da tabela*/ 
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

aside#lateral {
    display: block; /*conf seção, do lado dir da pag*/
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;

}

footer#rodape {
    clear: both; /*vai ter q limpar a divsão q foi feita*/
    border-top: 1px solid #606060; /*cria a linha do rodapé */
}

footer#rodape {
    text-align: center;
}
    
    
    